*{
    box-sizing: border-box;
    padding:2px;
}
#imagen{
    text-align: center;
}
#palabraHTML, #titulo{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
button{
    height: 40px;
    width: 30px;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
}
#botonesLetras{
    display: none;
}
#divBotones, #fila4{
    display: flex;
    justify-content: center;
}
.oportunidad{
    display: none;
    flex-direction: column;
    padding: 5px;
    width: 300px;
    margin: 0 auto;
}
#volverAJugar{
    display:none;
}
input{
    width: 150px;
    margin: 0 auto;
    margin-top: 3px;
    border-radius: 5px;
}
#fila4>button{
    width: 120px;
    margin-left: 4px;
}
button:hover, #enviarRespuesta:hover{
    background-color: rgb(189, 189, 189);
}